<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %} | Keyboard Sphynx</title>
</head>
<body>
    <nav class="border-b border-gray-300">
        <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
            
            <div class="menu-left flex items-center space-x-6">
                <a href="/" class="py-4 text-lg text-purple-500 font-semibold">Keyboard Sphynx</a>
                <ul class="flex items-center space-x-4">
                    <li><a href="{%  url 'shop' %}">Shop</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="menu-right flex items-center space-x-4">
                <a href="{% url 'myaccount' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>                      
                </a>
                <div
                    hx-get="{% url 'hx_menu_cart' %}"
                    hx-trigger="update-menu-cart from:body"
                    hx-swap="innerHTML">
                    {% include 'cart/menu_cart.html' %}
                </div>
            </div>
        </div>
    </nav>
    <main>
         {% block content %}
         {% endblock %}
    </main>

    <footer class="bg-gray-100">
        <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
            <div class="footer-left mb-12 md:mb-0">
                <h2 class="mb-5 uppercase text-lg">About us</h2>

                <p class="text-gray-700">Thank you to visit my website i have</p>
                <p class="text-gray-700">mentioned my social media accounts</p>
                <p class="text-gray-700">here you can konw more about theis</p>
                <p class="text-gray-700">website and me you should contact.</p>
                <p class="text-gray-700">Thank you </p>
            </div>

            <div class="footer-right">
                <h2 class="mb-5 uppercase text-lg">Social links</h2>

                <ul class="space-y-2">
                    <li><a href="https://www.linkedin.com/in/nazim-n-nazar-94113b243/" class="text-purple-500 hover:text-purple-800">Linkedin</a></li>
                    <li><a href="https://github.com/nazimnnazar?tab=repositories" class="text-purple-500 hover:text-purple-800">Git Hub</a></li>
                    <li><a href="/" class="text-purple-500 hover:text-purple-800">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>