{% extends 'core/base.html' %}
{% block title %} Frontpage {% endblock %}
{% block content %}
<header class="px-6 py-10 lg:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Welcome to Keyboard Sphynx</p>
        <p class="mb-10 text-white">We sell Keyboard </p>
        <a href="{% url 'shop' %}" class="inline-block px-8 py-4 rounded-xl bg-white text-purple-500 hover:bg-gray-200">Start shopping</a>
    </div>
</header>
<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
       {% for product in product %}
        <div class="w-full md:w-1/3 xl:w-1/4 p-6">
            <a href="{% url 'product' product.slug %}">
                <img class="rounded-xl hover:shadow-lg" src="{{product.get_thumbnail}}">
            </a> 
            <div class="pt-3 flex items-center justify-between">
                <a href="{% url 'product' product.slug %}">{{product.name}}</a>
                <a href="#" class="text-purple-500 hover:text-purple-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>                      
                </a>
            </div>
            <p class="pt-1 text-gray-400">&#x20B9;{{product.price}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}